<title>{{ include.title }}</title>
<!--meta-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--preload-->
<link rel="preload" href="/assets/font/Corporate-Logo-Medium.woff2" as="font">
<!--setup-->
<link rel="icon" href="/assets/imgage/svg/icon.svg">

<!-- Search Engine -->
<meta name="description" content="a blog">
<meta name="image" content="/assets/image/svg/icon.svg">
<!-- Schema.org for Google -->
<meta itemprop="name" content="Sourceblog">
<meta itemprop="description" content="a blog">
<meta itemprop="image" content="/assets/image/svg/icon.svg">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="Sourceblog">
<meta name="og:description" content="a blog">
<meta name="og:image" content="/assets/image/svg/icon.svg">
<meta name="og:url" content="https://minint2.github.io/SourceBlog/">
<meta name="og:site_name" content="Sourceblog">
<meta name="og:locale" content="en_US">
<meta name="og:type" content="website">